@font-face {
  font-family: SegoeUI;
  src: url("fonts/Segoe-UI/3ca1af51-981a-4e1c-b9c6-a66d0a5fe3c0-2.eot");
  src: url("fonts/Segoe-UI/3ca1af51-981a-4e1c-b9c6-a66d0a5fe3c0-2.eot") format("embedded-opentype"), url("fonts/Segoe-UI/3ca1af51-981a-4e1c-b9c6-a66d0a5fe3c0-3.woff") format("woff"), url("fonts/Segoe-UI/3ca1af51-981a-4e1c-b9c6-a66d0a5fe3c0-1.ttf") format("truetype"), url("fonts/Segoe-UI/3ca1af51-981a-4e1c-b9c6-a66d0a5fe3c0-4.svg#web") format("svg");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: SegoeUILight;
  src: url("fonts/Segoe-UI-Light/45a13f65-5199-4a22-821e-9b7d7795518e-2.eot");
  src: url("fonts/Segoe-UI-Light/45a13f65-5199-4a22-821e-9b7d7795518e-2.eot") format("embedded-opentype"), url("fonts/Segoe-UI-Light/45a13f65-5199-4a22-821e-9b7d7795518e-3.woff") format("woff"), url("fonts/Segoe-UI-Light/45a13f65-5199-4a22-821e-9b7d7795518e-1.ttf") format("truetype"), url("fonts/Segoe-UI-Light/45a13f65-5199-4a22-821e-9b7d7795518e-4.svg#web") format("svg");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: SegoeUISemiLight;
  src: url("fonts/Segoe-UI-Semilight/b692a79e-1bc5-4bcd-b355-7be3ef969fb7-2.eot");
  src: url("fonts/Segoe-UI-Semilight/b692a79e-1bc5-4bcd-b355-7be3ef969fb7-2.eot") format("embedded-opentype"), url("fonts/Segoe-UI-Semilight/b692a79e-1bc5-4bcd-b355-7be3ef969fb7-3.woff") format("woff"), url("fonts/Segoe-UI-Semilight/b692a79e-1bc5-4bcd-b355-7be3ef969fb7-1.ttf") format("truetype"), url("fonts/Segoe-UI-Semilight/b692a79e-1bc5-4bcd-b355-7be3ef969fb7-4.svg#web") format("svg");
  font-style: normal;
  font-weight: normal;
}
/* colors */
/* variables */
/* reset */
html {
  -webkit-text-size-adjust: 100%;
  /* Prevent font scaling in landscape while allowing user zoom */
}
body {
  margin: 0;
}
body,
button,
input,
select {
  font-family: 'SegoeUI', sans-serif;
  font-size: 16px;
  /* TODO: use T text table */
  letter-spacing: .01em;
}
/* global style */
html,
body,
.rails {
  height: 100%;
}
.rails {
  position: relative;
}
footer,
header,
section,
.rails {
  background-color: #FFFFFF;
}
header {
  height: 2.5rem;
}
section {
  min-height: 13em;
  /* TODO: temp just to invoke scrollbar behavior for testing  */
}
.inverse {
  color: #FFFFFF;
  background-color: #C52066;
}
.ellipsized {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
#menu ul {
  margin: 0;
  padding: 0;
}
#menu li {
  list-style-type: none;
}
#menu a {
  color: #FFFFFF;
  text-decoration: none;
}
/* specialized styles */
/* above 1000 */
@media screen and (min-width: 1000px) {
  /* full-width background */
  html,
  body {
    overflow-x: hidden;
  }
  header,
  section,
  footer {
    margin-left: -9999rem;
    margin-right: -9999rem;
    /* add back section padding value */
    padding-left: 9999rem;
    padding-right: 9999rem;
  }
  .rails {
    margin: auto;
    max-width: 934px;
  }
}
/* below 1000 */
@media screen and (max-width: 999px) {
  .rails {
    display: block;
    padding-left: 33px;
    padding-right: 33px;
    width: auto;
  }
  /* full-width background */
  header,
  section,
  footer {
    margin-left: -33px;
    margin-right: -33px;
    /* add back section padding value */
    padding-left: 33px;
    padding-right: 33px;
  }
}
/* NOT (small tablets and phone) */
@media screen and (min-width: 601px) {
  #menu {
    float: right;
  }
  #menu > .icon {
    display: none;
  }
  #menu ul {
    display: inline-block;
  }
  #menu li {
    display: inline;
  }
  #menu li:first-child {
    display: none;
  }
}
/* small tablets and phone */
@media screen and (max-width: 600px) {
  body {
    background-color: #7F1C3D;
  }
  header {
    margin: 0;
    position: fixed;
    top: 0;
    width: 100%;
  }
  header + section {
    padding-top: 2.5rem;
  }
  #menu {
    position: absolute;
    right: 99px;
    top: 0;
  }
  #menu ul {
    display: block;
    overflow: hidden;
    position: absolute;
    top: 0;
    right: -317px;
    width: 284px;
  }
  #menu li {
    background-color: #7F1C3D;
    border-bottom: 1px solid rgba(255, 255, 255, 0.7);
    display: block;
    height: 84px;
    left: 0;
    line-height: 84px;
    position: relative;
  }
  #menu li a {
    display: block;
    padding-left: 40px;
  }
  .animate-menu-left {
    transition: left 0.35s cubic-bezier(0.2, 0, 0, 1);
  }
  /* animation initial position */
  body header {
    left: 0;
    transition: left 0.35s cubic-bezier(0.2, 0, 0, 1);
  }
  body .rails {
    left: 0;
    transition: left 0.35s cubic-bezier(0.2, 0, 0, 1);
  }
  body #menu li {
    left: -284px;
    transition: left 0.35s cubic-bezier(0.2, 0, 0, 1);
  }
  /* animate menu open position */
  body.open-menu header {
    left: -284px;
  }
  body.open-menu .rails {
    left: -284px;
  }
  body.open-menu #menu li {
    left: 0;
  }
}
