@font-face {
  font-family: SegoeUI-Bold;
  src: url("fonts/Segoe-UI-Latest/Bold/latest.eot");
  src: url("fonts/Segoe-UI-Latest/Bold/latest.eot") format("embedded-opentype"), url("fonts/Segoe-UI-Latest/Bold/latest.woff") format("woff"), url("fonts/Segoe-UI-Latest/Bold/latest.ttf") format("truetype"), url("fonts/Segoe-UI-Latest/Bold/latest.svg#web") format("svg");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: SegoeUI-Normal;
  src: url("fonts/Segoe-UI-Latest/Normal/latest.eot");
  src: url("fonts/Segoe-UI-Latest/Normal/latest.eot") format("embedded-opentype"), url("fonts/Segoe-UI-Latest/Normal/latest.woff") format("woff"), url("fonts/Segoe-UI-Latest/Normal/latest.ttf") format("truetype"), url("fonts/Segoe-UI-Latest/Normal/latest.svg#web") format("svg");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: SegoeUI-Semibold;
  src: url("fonts/Segoe-UI-Latest/Semibold/latest.eot");
  src: url("fonts/Segoe-UI-Latest/Semibold/latest.eot") format("embedded-opentype"), url("fonts/Segoe-UI-Latest/Semibold/latest.woff") format("woff"), url("fonts/Segoe-UI-Latest/Semibold/latest.ttf") format("truetype"), url("fonts/Segoe-UI-Latest/Semibold/latest.svg#web") format("svg");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: SegoeUI-Semilight;
  src: url("fonts/Segoe-UI-Latest/Semilight/latest.eot");
  src: url("fonts/Segoe-UI-Latest/Semilight/latest.eot") format("embedded-opentype"), url("fonts/Segoe-UI-Latest/Semilight/latest.woff") format("woff"), url("fonts/Segoe-UI-Latest/Semilight/latest.ttf") format("truetype"), url("fonts/Segoe-UI-Latest/Semilight/latest.svg#web") format("svg");
  font-style: normal;
  font-weight: normal;
}
.h1 {
  font-family: SegoeUI-Semibold;
  font-size: 34px;
  letter-spacing: 0.3px;
  line-height: 44px;
}
.h2 {
  font-family: SegoeUI-Semibold;
  font-size: 30px;
  letter-spacing: 0.2px;
  line-height: 39px;
}
.h3 {
  font-family: SegoeUI-Semibold;
  font-size: 22px;
  letter-spacing: 0.1px;
  line-height: 29px;
}
.h4 {
  font-family: SegoeUI-Normal;
  font-size: 20px;
  letter-spacing: 0.1px;
  line-height: 26px;
}
.T1 {
  font-family: SegoeUI-Semibold;
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
}
.T2 {
  font-family: SegoeUI-Semibold;
  font-size: 16px;
  letter-spacing: 0.5px;
  line-height: 21px;
}
.T3 {
  font-family: SegoeUI-Normal;
  font-size: 16px;
  letter-spacing: 0.3px;
  line-height: 21px;
}
.T4 {
  font-family: SegoeUI-Normal;
  font-size: 14px;
  letter-spacing: 0.4px;
  line-height: 18px;
}
.T5 {
  font-family: SegoeUI-Normal;
  font-size: 10px;
  letter-spacing: 0.34px;
  line-height: 13px;
}
html {
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
  overflow-x: hidden;
}
body,
button,
input,
select {
  font-family: SegoeUI-Normal, sans-serif;
  font-size: 16px;
  letter-spacing: .01em;
}
html,
body,
main {
  height: 100%;
}
header,
footer,
section,
main {
  background-color: #FFFFFF;
}
header svg,
footer svg,
section svg,
main svg {
  fill: #FF387B;
}
header .logo {
  margin-top: 25px;
}
main {
  position: relative;
}
section {
  min-height: 13em;
}
.inverse {
  color: #FFFFFF;
  background-color: #C52066;
}
.inverse svg {
  fill: #FFFFFF;
}
.ellipsized {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
#menu ul {
  margin: 0;
  padding: 0;
}
#menu li {
  list-style-type: none;
}
#menu a {
  color: #FFFFFF;
  text-decoration: none;
}
@media screen and (min-width: 1000px) {
  .rails {
    margin: auto;
    width: 934px;
  }
}
@media screen and (max-width: 999px) {
  .rails {
    margin-left: 33px;
    margin-right: 33px;
    width: auto;
  }
}
@media screen and (min-width: 601px) {
  header {
    min-height: 70px;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 1;
  }
  main > section {
    margin-top: 70px;
  }
  body.scrolled header {
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.12), 0 4px 4px 0 rgba(0, 0, 0, 0.24);
  }
  #menu {
    float: right;
    margin-top: 20px;
  }
  #menu > .icon {
    display: none;
  }
  #menu ul {
    display: inline-block;
  }
  #menu li {
    display: inline;
    margin-left: 25px;
  }
  #menu li:first-child {
    display: none;
  }
  #menu a {
    font-family: SegoeUI-Semibold;
    font-size: 18px;
    font-weight: 500;
    line-height: 24px;
  }
}
@media screen and (max-width: 600px) {
  header .rails {
    background-color: inherit;
    height: 70px;
    left: 0;
    margin-left: 0;
    margin-right: 0;
    padding-left: 33px;
    position: fixed;
    right: 0;
    transition: left 0.35s cubic-bezier(0.2, 0, 0, 1), right 0.35s cubic-bezier(0.2, 0, 0, 1);
    z-index: 1;
  }
  main {
    left: 0;
    transition: left 0.35s cubic-bezier(0.2, 0, 0, 1);
  }
  main > section {
    padding-top: 70px;
  }
  body.scrolled header .rails {
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.12), 0 4px 4px 0 rgba(0, 0, 0, 0.24);
  }
  #menu {
    position: absolute;
    right: 33px;
    top: 0;
  }
  #menu > .icon {
    position: relative;
    top: 23px;
  }
  #menu ul {
    background-color: #7F1C3D;
    display: block;
    overflow: hidden;
    padding-bottom: 99rem;
    position: absolute;
    right: -317px;
    top: 0;
    width: 284px;
  }
  #menu li {
    background-color: #7F1C3D;
    border-bottom: 1px solid rgba(255, 255, 255, 0.7);
    display: block;
    height: 84px;
    left: -284px;
    line-height: 84px;
    position: relative;
    transition: left 0.35s cubic-bezier(0.2, 0, 0, 1);
  }
  #menu li a {
    font-family: SegoeUI-Semibold;
    font-size: 22px;
    letter-spacing: 0.1px;
    line-height: 29px;
    display: block;
    padding-bottom: 30px;
    padding-left: 40px;
    padding-top: 25px;
    width: 100%;
  }
  body.open-menu header .rails {
    left: -284px;
    right: 284px;
  }
  body.open-menu main {
    left: -284px;
  }
  body.open-menu #menu li {
    left: 0;
  }
}
